<%= turbo_frame_tag "new_setlistitem_info_#{item.id}" do %>
  <div class="card bg-base-100 w-full shadow-xl mb-3">
    <div class="card-body">
      <div class="flex">
        <h2 class="card-title text-base	md:text-xl">コメントを投稿しましょう✊</h2>
        <%= render partial: "setlistitems/modals/setlistitem_info_modal" %>
      </div>
      <%= form_with model: @setlistitem_new_info, url: setlistitem_informations_path do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.text_area :body, class: "textarea w-full my-4 border-slate-400", placeholder: setlistitem_information_hint %>
        <%= f.hidden_field :setlistitem_id, value: item.id %>
        <div class="card-actions">
          <%= f.submit '投稿', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>