<%= turbo_frame_tag setlistitem_info do %>
  <div class="card bg-base-100 w-full h-full shadow-xl mb-3">
    <div class="card-body">
      <div class="avatar flex items-center">
        <div class="w-4 md:w-6 rounded-full mr-1 md:mr-2">
          <img src="<%= setlistitem_info.user.image %>" />
        </div>
        <h3 class="text-xs md:text-base mr-1"><%= setlistitem_info.user.name %></h3>
        <p class="font-light text-slate-300 text-xs	md:text-base"><%= time_ago_in_words(setlistitem_info.created_at) %>前</p>
      </div>
      <h2 class="card-title text-base md:text-lg"><%= setlistitem_info.body %></h2>
      <div>
        <% if user_signed_in? %>
          <%= render partial: "setlistitems/info_fav_btn", locals: {setlistitem_information: setlistitem_info} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>