<% notices.each do |notice| %>
  <div class="mb-5">
  <% if notice.action_type = "like" %>
    <div class="avatar flex items-center mb-3">
      <div class="w-8 md:w-12 lg:w-16 mr-3 rounded-xl">
        <%= image_tag notice.noticeable.user.image %>
      </div>
      <p class="mr-3"><%= notice.noticeable.user.name.truncate(3) %>さんがいいねしました！</p>
      <p class="stat-desc font-light"><%= time_ago_in_words(notice.created_at) %>前<p>
    </div>
    <% case notice.noticeable %>
    <% when LikesOnEventInformation %>
      <p><%= notice.noticeable.event_information.body %></p>
    <% when LikesOnTourInformation %>
      <p><%= notice.noticeable.tour_information.body %></p>
    <% when LikesOnSetlistitemInformation %>
      <p><%= notice.noticeable.setlistitem_information.body %></p>
    <% when LikesOnSongInformation %>
      <p><%= notice.noticeable.song_information.body %></p>
    <% end %>
  <% end %>
  </div>
<% end %>