<div class="collapse-content">
  <div class="card bg-base-100 w-96 shadow-xl mb-3">
    <div class="card-body">
      <h2 class="card-title">コメントを投稿しましょう！</h2>
      <%= form_with model: SetlistitemInformation.new, url: setlistitem_informations_path do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.text_area :body, class: "textarea w-full", placeholder: "コメントを入力" %>
        <%= f.hidden_field :setlistitem_id, value: item.id %>
        <div class="card-actions justify-end">
          <%= f.submit '投稿', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @infos.present? %>
    <% @infos.each do |info| %>
      <% if info.setlistitem_id == item.id %>
        <div class="card bg-base-100 w-96 shadow-xl mb-3">
          <div class="card-body">
            <h2 class="card-title"><%= info.body %></h2>
            <p><%= info.created_at %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>