<div class="card bg-base-100 shadow-xl mb-3">
  <div class="card-body">
    <div class="avatar flex items-center">
      <div class="w-6 rounded-full mr-3">
        <img src="<%= info.user.image %>" />
      </div>
      <%= info.user.name %>
      <p class="text-sm">　<%= info.created_at %></p>
    </div>
    <h2 class="card-title"><%= info.body %></h2>
    <div>
      <%= render partial: "tours/info_fav_btn", locals: {tour_information: info} %>
    </div>
  </div>
</div>