<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-neutral-200 p-5 text-slate-900 rounded-lg">
    <div class="mb-3 leading-8">
      <%= search_form_for @q, url: events_path, method: :get do |f| %>

        <%= f.label "イベント名" %>
        <%= f.search_field :name_or_name_kana_ruby_cont, placeholder: 'イベント名を入力', type: "text", class: "input input-bordered w-full mb-3 border-neutral-content bg-transparent" %>

        <div>
          <% @categories.each do |category| %>
            <%= f.check_box :category_eq_any, { multiple: true, include_hidden: false }, category[1] %>
            <%= f.label category[0] %>
          <% end %>
        </div>

        <button class="btn btn-active">
          <%= f.submit "検索" %>
        </button>
      <% end %>
    </div>
    <button type="button" data-action="dialog#close" autofocus class="place-items-end"><i class="fa-regular fa-circle-xmark mr-1"></i>閉じる</button>
  </dialog>
  <button type="button" data-action="dialog#open" class="btn btn-active btn-ghost">
    <i class="fa-solid fa-magnifying-glass"></i>
    <p>条件検索</p>
  </button>
</div>