<div class="nested-form-wrapper border p-3 mb-3" data-new-record="<%= f.object.new_record? %>">
  <div data-controller="autocomplete" data-autocomplete-url-value="/setlists/search" role="combobox">
    <%= f.text_field :song_title, class: "input input-bordered w-full max-w-xs", placeholder: "楽曲名", data: { autocomplete_target: 'input' } %>
    <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
  </div>
  <div>
    <%= f.label :is_encore %>
    <%= f.check_box :is_encore %>
  </div>
  <div>
    <%= f.label :is_song %>
    <%= f.check_box :is_song %>
  </div>
  <div>
    <%= f.label :is_arranged %>
    <%= f.check_box :is_arranged %>
  </div>

  <div>
  <button type="button" data-action="nested-form#add" class="btn btn-info">楽曲を追加</button>
  </div>

  <div>
    <button type="button" data-action="nested-form#remove" class="btn btn-active btn-ghost">この曲を削除</button>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
