<h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
  <%= @event.name %><br>セットリスト登録フォーム
</h1>

<div class="mb-5">
  <%= form_with model: @setlist, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, url: event_setlist_path do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <template data-nested-form-target="template">
      <%= f.fields_for :setlistitems, Setlistitem.new, child_index: 'NEW_RECORD' do |i| %>
        <%= render "setlistitem_form", f: i %>
      <% end %>
    </template>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target">
      <button type="button" data-action="nested-form#add" class="btn btn-info">楽曲を追加</button>
    </div>
  </div>

  <div>
    <%= f.submit "セットリストを投稿", class: "btn btn-primary" %>
  </div>
<% end %>
