<h1>Setlists new</h1>

<%= form_with model: @setlist,data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, url: event_setlist_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <template data-nested-form-target="template">
    <%= f.fields_for :setlistitems, Setlistitem.new, child_index: 'NEW_RECORD' do |i| %>
      <%= render "setlistitem_form", f: i %>
    <% end %>
  </template>

  <%#= f.fields_for :setlistitems do |i| %>
    <%#= render "setlistitem_form", f: i %>
  <%# end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add Setlistitem</button>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
