<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-neutral-200 p-5 text-slate-900 rounded-lg">
    <div class="grid justify-items-end">
      <button type="button" data-action="dialog#close" autofocus><i class="fa-regular fa-circle-xmark mr-1"></i></button>
    </div>
    <div class="mb-3 leading-8">
      <h1 class="my-3 text-lg md:text-xl">ヒストリー絞り込み</h1>
      <%= form_with url: "/histories", method: :get do |f| %>
        <div class="flex flex-col mb-5">
          <div class="flex">
            <%= f.checkbox :events %>
            <%= f.label "イベント情報" %>
          </div>
          <div class="flex">
            <%= f.checkbox :discs %>
            <%= f.label "ディスコグラフィー関連" %>
          </div>
          <div class="flex">
            <%= f.checkbox :histories %>
            <%= f.label "その他のヒストリー" %>
          </div>
        </div>

        <%= f.submit "絞り込む", class: "btn" %>
      <% end %>
    </div>
  </dialog>
  <button type="button" data-action="dialog#open" class="flex items-center">
    <i class="fa-solid fa-filter mx-1"></i>
    <p>絞り込み</p>
  </button>
</div>