<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-neutral-200 p-5 text-slate-900 rounded-lg">
    <div class="grid justify-items-end">
      <button type="button" data-action="dialog#close" autofocus><i class="fa-regular fa-circle-xmark mr-1"></i></button>
    </div>
    <div class="mb-3 leading-8">
      <%= search_form_for @q, url: songs_path, method: :get do |f| %>

        <div class="mb-3">
          <%= f.label "楽曲名" %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/songs/search" role="combobox", class="mb-3 w-full">
            <%= f.search_field :name_or_name_kana_ruby_or_name_hiragana_ruby_cont, placeholder: '楽曲名を入力', type: "text", class: "input input-bordered w-full border-neutral-content bg-transparent", data: { autocomplete_target: 'input' } %>
            <ul class="list-group bg-white w-full md:text-sm" data-autocomplete-target="results"></ul>
          </div>
        </div>

        <div class="flex items-center">
          <button class="btn btn-active">
            <%= f.submit "検索" %>
          </button>
          <p class="ml-3 text-sm link"><%= link_to "検索条件をクリア", songs_path %></p>
        </div>
      <% end %>
    </div>
  </dialog>
  <button type="button" data-action="dialog#open" class="btn btn-primary">
    <i class="fa-solid fa-magnifying-glass"></i>
    <p>条件検索</p>
  </button>
</div>