<%= form_with model: history, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="my-2 flex flex-col">
    <%= f.label "æ—¥ä»˜" %>
    <%= f.date_field :date, class: "bg-base-100 text-base-content border border-base-content rounded-lg p-1 my-3 max-w-40" %>
  </div>
  <div>
    <%= f.label "ã‚¿ã‚¤ãƒˆãƒ«" %>
    <%= f.text_field :title, placeholder: "(ä¾‹)ðŸŽŠMusicStationåˆå‡ºæ¼”ï¼ðŸŽŠ", class: "input input-bordered w-full my-3" %>
  </div>
  <div class="flex flex-col">
    <%= f.label :images, 'ç”»åƒ' %>
    <%= f.file_field :images, multiple: true, class: "file-input file-input-bordered w-full max-w-xs my-3" %>
  </div>
  <div>
    <%= f.label "èª¬æ˜Žæ¬„" %>
    <%= f.text_field :remark, class: "textarea textarea-bordered w-full h-24 my-3", placeholder: "(ä¾‹)ãƒ¡ãƒªãƒã‚’æŠ«éœ²" %>
  </div>
  <div class="btn btn-primary my-2">
    <%= f.submit %>
  </div>
<% end %>
