<div class="md:mx-5 lg:mx-12">
  <ul class="timeline timeline-vertical timeline-compact">
    <% if @histories.empty? %>
      <div class="my-3">
        <p>表示するヒストリーがありません🤥</p>
        <p>絞り込みから表示するカテゴリーを選択してください。</p>
      </div>
    <% end %>
    <% @histories.each_with_index do |history, i| %>
      <% case history %>
      <% when Event %>
        <%= render partial: 'histories/event', locals: { event: history, previous_history: @histories[i - 1] } %>
      <% when DiscDate %>
        <%= render partial: 'histories/disc_date', locals: { disc_date: history, previous_history: @histories[i - 1] } %>
      <% when History %>
        <%= render partial: 'histories/history', locals: { history: history, previous_history: @histories[i - 1] } %>
      <% when TieUp %>
        <%= render partial: 'histories/tie_up', locals: { tie_up: history, previous_history: @histories[i - 1] } %>
      <% when LinkDate %>
        <%= render partial: 'histories/link_date', locals: { link_date: history, previous_history: @histories[i - 1] } %>
      <% when LinkView %>
        <%= render partial: 'histories/link_view', locals: { link_view: history, previous_history: @histories[i - 1] } %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @histories unless @histories.empty? %>