<div class="m-2">
  <% case history %>
  <% when Event %>
    <p><%= history.date %> <%= history.name %> @<%= history.place %> 開催</p>
  <% when Disc %>
    <p><%= history.release_date %> <%= history.title %> 解禁</p>
  <% end %>
</div>