<div class="m-5">
  <h1 class="flex justify-center text-2xl md:text-3xl mb-5">
    <%= title "ãƒ’ã‚¹ãƒˆãƒªãƒ¼ç·¨é›†ãƒšãƒ¼ã‚¸" %>
  </h1>

  <%= form_with model: @history, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="my-2 flex flex-col">
      <%= f.label "æ—¥ä»˜ï¼ˆå¿…é ˆï¼‰" %>
      <%= f.date_field :date, class: "bg-base-100 text-base-content border border-base-content rounded-lg p-1 my-3 max-w-40" %>
    </div>
    <div>
      <%= f.label "ã‚¿ã‚¤ãƒˆãƒ«ï¼ˆå¿…é ˆï¼‰" %>
      <%= f.text_field :title, placeholder: "(ä¾‹)ðŸŽŠMusicStationåˆå‡ºæ¼”ï¼ðŸŽŠ", class: "input input-bordered w-full my-3" %>
    </div>
    <div>
      <%= f.label "èª¬æ˜Žæ¬„ï¼ˆä»»æ„ï¼‰" %>
      <%= f.text_field :remark, class: "textarea textarea-bordered w-full h-24 my-3", placeholder: "(ä¾‹)ãƒ¡ãƒªãƒã‚’æŠ«éœ²" %>
    </div>
    <div class="flex flex-col">
      <% if @history.image.attached? %>
        <%= f.label :image, 'ç¾åœ¨ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹ç”»åƒ', class: "mb-3" %>
        <div class="flex items-end">
          <%= image_tag @history.image.variant(resize_to_limit: [300, 300]), class: "w-1/2 md:w-1/3 mr-3" %>
          <%= link_to "ç”»åƒå‰Šé™¤", histories_path, class: "btn btn-error btn-sm" %>
        </div>
      <% else %>
        <%= f.label :image, 'ç”»åƒï¼ˆä»»æ„ï¼‰' %>
        <%= f.file_field :image, class: "file-input file-input-bordered w-full max-w-xs my-3" %>
      <% end %>
    </div>
      <%= f.submit "æ›´æ–°ã™ã‚‹", class: "btn btn-primary my-4", data: { turbo_confirm: "ãƒ’ã‚¹ãƒˆãƒªãƒ¼ã‚’æ›´æ–°ã—ã¾ã™ï¼ã‚ˆã‚ã—ã„ã§ã™ã‹ï¼Ÿ" } %>
  <% end %>
</div>