<div class="m-5">
  <h1 class="flex justify-center text-2xl md:text-3xl mb-5">
    <%= title "ãƒ’ã‚¹ãƒˆãƒªãƒ¼ç™»éŒ²ãƒšãƒ¼ã‚¸" %>
  </h1>

  <%= form_with model: @history, local: true do |f| %>
    <div class="my-2 flex flex-col">
      <%= f.label "æ—¥ä»˜" %>
      <%= f.date_field :date, class: "bg-base-100 text-base-content border border-base-content rounded-lg p-1 my-3 max-w-40" %>
    </div>
    <div>
      <%= f.label "ã‚¿ã‚¤ãƒˆãƒ«" %>
      <%= f.text_field :title, placeholder: "(ä¾‹)ðŸŽŠMusicStationåˆå‡ºæ¼”ï¼ðŸŽŠ", class: "input input-bordered w-full my-3" %>
    </div>
    <div>
      <%= f.label "èª¬æ˜Žæ¬„" %>
      <%= f.text_field :remark, class: "textarea textarea-bordered w-full h-24 my-3", placeholder: "(ä¾‹)ãƒ¡ãƒªãƒã‚’æŠ«éœ²" %>
    </div>
    <div class="btn btn-primary my-2">
      <%= f.submit %>
    </div>
  <% end %>
</div>