<div class="m-5 md:mx-10 lg:mx-16">
  <h1 class="flex justify-center text-3xl mb-5">
    <%= title "ヒストリー詳細" %>
  </h1>

  <div class="flex justify-end mb-5 lg:mr-5">
    <div class="flex items-center md:text-lg lg:text-xl">
      <p>作成者：</p>
      <img src="<%= @history.user.image %>" class="w-5 md:w-6 lg:w-8 rounded-full mx-1">
      <p><%= @history.user.name %></p>
    </div>
  </div>

  <div class="md:grid md:grid-cols-5 md:gap-5">
    <div class="md:col-span-2">
      <div class="flex items-center justify-center w-full h-60 mb-2">
        <div class="w-60 h-full">
          <turbo-frame id="history_image" src="/histories/images/<%= @history.id %>" loading="lazy">
            <div class="skeleton w-full h-full flex items-center justify-center">
              <span class="loading loading-spinner loading-xs mr-1"></span>
              <p class="text-center">画像読み込み中...</p>
            </div>
          </turbo-frame>
        </div>
      </div>
    </div>
    <div class="md:col-span-3">
      <div class="">
        <div class="flex items-center mb-2">
          <i class="mr-2 fa-solid fa-calendar-days"></i>
          <p class=""><%= I18n.l(@history.date, format: "%Y/%m/%d(%a)") %></p>
        </div>
        <div class="md:flex md:items-end">
          <p class="md:text-2xl mr-2"><%= @history.title %></p>
        </div>
      </div>
      <div class="mt-3">
        <%= @history.remark.present? ? @history.remark : nil %>
      </div>
      <div class="flex justify-end md:justify-start mt-3">
        <% if @history.user == current_user %>
          <%= link_to edit_history_path(@history.id) do %>
            <i class="fa-solid fa-pen-to-square mr-3"></i>
          <% end %>
          <%= link_to history_path(@history.id), data: { "turbo-method": :delete, turbo_confirm: "投稿を削除します。よろしいですか？" } do %>
            <i class="fa-solid fa-trash-can mr-3"></i>
          <% end %>
        <% end %>
        <%= render partial: "likes/likes", locals: { history: @history, likes: @history.likes, like_url: history_likes_path(history_id: @history.id) } %>
      </div>
    </div>
  </div>


  <div>
    <div class="divider mb-5">
      <h1 class="font-bold sm:text-lg md:text-xl">
        ヒストリー情報
      </h1>
    </div>
    <div>
    <%= render partial: "informations/form", locals: { reportable: @history, new_info: @new_info, form_url: @form_url } %>
  </div>

  <%= turbo_frame_tag 'history_infos' do %>
    <%= render partial: "informations/informations", locals: { infos: @infos } %>
  <% end %>
</div>
