<%= turbo_frame_tag "bookmark_#{event.id}" do %>
  <div class="flex justify-end mb-5">
    <% if event.bookmarked_by?(current_user) %>
      <%= link_to event_bookmark_path(current_user.event_bookmarks.find_by(event_id: event.id)), data: { "turbo-method": :delete }, class: "flex items-center" do %>
        <i class="fa-solid fa-bookmark fa-lg md:fa-2x mr-2"></i>
        <p><%= event.date < Date.today ? "行った！" : "行く！！" %></p>
      <% end %>
    <% else %>
      <%= link_to event_event_bookmarks_path(event), data: { "turbo-method": :post }, class: "flex items-center" do %>
        <i class="fa-regular fa-bookmark fa-lg md:fa-2x mr-2"></i>
        <p><%= event.date < Date.today ? "行った？" : "行く？？" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>