<div class="divider mb-5">
  <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">イベント情報</h2>
</div>

<%= form_with model: EventInformation.new, url: event_event_informations_path(event_id: @event.id) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="card bg-base-100 shadow-xl mb-5">
    <div class="card-body">
      <div class="flex">
        <h2 class="card-title text-base	md:text-xl">コメントを投稿しましょう！</h2>
        <%= render partial: "events/modals/event_info_modal" %>
      </div>
      <%= f.text_area :body, class: "textarea w-full my-4 border-slate-400", placeholder: "コメントを入力" %>
      <div class="card-actions">
        <%= f.submit '投稿', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>


<% if infos.present? %>
  <% infos.each do |info| %>
    <div class="card bg-base-100 w-full shadow-xl mb-3">
      <div class="card-body">
        <div class="avatar flex items-center">
          <div class="w-4 md:w-6 rounded-full mr-1 md:mr-2">
            <img src="<%= info.user.image %>" />
          </div>
          <h3 class="text-xs	md:text-base mr-1"><%= info.user.name %></h3>
          <p class="font-light text-slate-300 text-xs	md:text-base">（<%= time_ago_in_words(info.created_at) %>前）</p>
        </div>
        <h2 class="card-title text-base md:text-lg"><%= info.body %></h2>
        <div>
          <%= render partial: "events/info_fav_btn", locals: {event_information: info} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>