<div class="card w-full shadow-2xl mb-2">
  <figure class="mt-10">
    <%#= image_tag 'default_people_1.jpg' %>
    <%# if event.visual_image.attached? %>
      <%#= image_tag event.visual_image.variant(resize_to_fill: [250, 200]) %>
    <%# end %>
  </figure>
  <div class="card-body leading-8	">
    <h2 class="card-title"><%= event.name %></h2>
    <p>
      @<%= event.place %>（<%= t("activerecord.attributes.event.place_prefecture.#{event.place_prefecture}") %>）
        <br>
      <%= I18n.l(event.date, format: "%Y/%m/%d(%a)") %>
    </p>
    <div class="badge badge-secondary"><%= event.category %></div>
    <% if event.is_canceled? %>
      <div class="badge badge-error">
        <p>canceled</p>
      </div>
    <% end %>
    <div class="card-actions justify-end">
      <%= link_to "詳細", event_path(event), class: 'btn btn-primary' %>
    </div>
  </div>
</div>