<div class="card bg-base-100 w-96 shadow-xl mx-2 mb-4">
  <figure>
    <% if event.visual_image.attached? %>
      <%= image_tag event.visual_image.variant(resize_to_limit: [100, 100]) %>
    <% end %>
  </figure>
  <div class="card-body">
    <h2 class="card-title"><%= event.name %></h2>
    <p>
      @<%= event.place %>（<%= event.place_prefecture %>）
        <br>
      <%= event.date %>
    </p>
    <div class="badge badge-secondary"><%= event.category %></div>
    <div class="card-actions justify-end">
      <%= link_to "Details", event_path(event), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
