<% 
=begin
%>
<div class="relative">
  <% if @event.visual_image.attached? %>
    <%= image_tag @event.visual_image.variant(resize_to_fill: [600, 200]), class: "w-full contrast-50 blur-sm" %>
    <h1 class="text-slate-50 truncate absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-semibold text-3xl md:text-4xl lg:text-5xl">イベント詳細</h1>
  <% end %>
</div>
<%
=end
%>

<div class="m-5">
  <div class="mb-8 leading-8">
    <h1 class="text-center text-xl md:text-2xl font-semibold mb-2">
      <%= title @event.name %>
      <% if @event.is_canceled? %>
        <br>（開催見合わせ）
      <% end %>
  </div>

  <div class="mb-5">
    <div class="divider mb-5">
      <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">概要</h2>
    </div>
    </h1>
    <p>
    日時：<%= I18n.l(@event.date, format: "%Y/%m/%d(%a)") %><br>
    会場：<%= t("activerecord.attributes.event.place_prefecture.#{@event.place_prefecture}") %> <%= @event.place %><br>
      <% if @event.remark.present? %>
        備考：<%= @event.remark %>
      <% end %>
    </p>
  </div>


  <% if @event.tour_id %>
    <div class="card-actions justify-end mb-5">
        <%= link_to "ツアー詳細", tour_path(@event.tour_id), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="mb-8">
    <div class="divider mb-5">
      <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">収録情報</h2>
    </div>
    <% if @disc_contents.present? %>
      <ul>
        <% @disc_contents.each do |content| %>
          <li>
            <%= link_to disc_path(content.disc_version.disc.id), class: "link link-primary" do %>
              <%= content.disc_version.disc.title %>
              （<%= t("activerecord.attributes.disc_version.#{content.disc_version.version}") %>）
            <% end %>
          </li>
        <% end %>
        <p>に収録されているヨ！</p>
    <% else %>
      <p class="text-center">😑この日の映像は発売されてないヨ😑</p>
    <% end %>
  </div>

  <div class="divider mb-8">
    <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">セットリスト</h2>
  </div>
  <% if @setlistitems.present? %>
    <div class="avatar flex items-center justify-end mb-5">
      <p class="">作成者：<p>
      <div class="w-6 rounded-full mr-2">
        <img src="<%= @event.setlist.user.image %>" />
      </div>
      <p><%= @event.setlist.user.name %><p>
    </div>
    <%= render partial: 'events/setlistitem', locals: {setlistitems: @setlistitems, infos: @infos} %>
  <% elsif @event.is_canceled? %>
    <p class="mb-8">開催見合わせのため、セットリスト情報はありません。</p>
  <% elsif @event.date > Date.today %>
    <p class="mb-8">開催前のイベントにセットリストは投稿できません。</p>
  <% else %>
    <p class="mb-8">セットリストはまだ投稿されていません。投稿にご協力お願いします！🙇</p>
    <%= link_to "セットリストを投稿", new_event_setlist_path(params[:id]), class: 'btn btn-primary mb-5' %>
  <% end %>

  <%= render 'events/information_index', event_informations: @event_infomations %>
</div>