<div class="m-5">
  <div class="mb-8 leading-8">
    <h1 class="text-center text-xl md:text-2xl font-semibold mb-2">
      <%= title @event.name %>
      <% if @event.is_canceled? %>
        <br>（開催見合わせ）
      <% end %>
    </h1>
  </div>

  <% if @event.tour_id %>
    <div class="card-actions justify-end mb-5">
        <%= link_to "ツアー詳細", tour_path(@event.tour_id), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="md:grid md:grid-cols-3 md:gap-4">
    <div class="mb-5 md:col-span-2">
      <div class="divider mb-5 lg:mb-8">
        <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">概要</h2>
      </div>
      </h1>
      <div class="text-sm md:text-lg lg:text-xl">
        <div class="flex items-center justify-center">
          <i class="fa-solid fa-calendar-days mr-1 md:mr-2"></i>
          <p>
            <%= I18n.l(@event.date, format: "%Y/%m/%d(%a)") %>
          </p>
        </div>
        <div class="flex items-center justify-center">
          <i class="fa-solid fa-location-dot mr-1 md:mr-2"></i>
          <p>
            <%= t("activerecord.attributes.event.place_prefecture.#{@event.place_prefecture}") %> <%= @event.place %>
          </p>
        </div>
        <% if @event.remark.present? %>
          <div class="flex items-start mt-3 lg:justify-center">
            <%= @event.remark %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-5">
      <div class="divider mb-5">
        <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">収録情報</h2>
      </div>
      <% if @disc_contents.present? %>
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <% @disc_contents.each do |content| %>
            <div class="mx-3">
              <div class="h-32 w-full my-2 flex justify-center">
                <%= link_to disc_path(content.disc_version.disc), class: "w-32 h-full" do %>
                  <turbo-frame id="jacket_<%= content.disc_version.id %>" src="/version_jacket/<%= content.disc_version.id %>" loading="lazy">
                    <div class="skeleton w-full h-full flex items-center justify-center">
                      <span class="loading loading-spinner loading-xs"></span>
                    </div>
                  </turbo_frame>
                <% end %>
              </div>
              <p class="text-xs text-center mb-2">
                <%= link_to disc_path(content.disc_version.disc_id), class: "link link-primary" do %>
                  <%= content.disc_version.disc.title %><br>
                  （<%= t("activerecord.attributes.disc_version.#{content.disc_version.version}") %>）<br>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
        <p class="text-center">に収録されています！</p>
      <% else %>
        <p class="text-center">😑この日の映像は発売されてないヨ😑</p>
      <% end %>
    </div>
  </div>

  <div class="divider mb-8">
    <h2 class="font-bold text-lg md:text-2xl lg:text-3xl">セットリスト</h2>
  </div>
  <% if @setlistitems.present? %>
    <div class="avatar flex items-center justify-end mb-5">
      <p class="">作成者：<p>
      <div class="w-6 rounded-full mr-2">
        <img src="<%= @event.setlist.user.image %>" />
      </div>
      <p><%= @event.setlist.user.name.truncate(20) %><p>
    </div>
    <div class="mb-5 flex items-center justify-end">
      <%= link_to "https://twitter.com/share?url=#{event_url(@event)}&text=【セトリ情報】%0a#{current_user.name}さんが、「#{@event.name.truncate(50)}」でのPEOPLE 1 セットリストをシェアしました！%0a%0a", target: '_blank', class: "btn btn-secondary" do %>
        <p>セットリストを<i class="fa-brands fa-square-x-twitter fa-lg mx-1"></i>でシェア</p>
      <% end %>
    </div>
    <%= render partial: 'events/setlistitem', locals: {setlistitems: @setlistitems, infos: @infos} %>
  <% elsif @event.is_canceled? %>
    <p class="mb-8">開催見合わせのため、セットリスト情報はありません。</p>
  <% elsif @event.date > Date.today %>
    <p class="mb-8">開催前のイベントにセットリストは投稿できません。</p>
  <% else %>
    <p class="mb-8">セットリストはまだ投稿されていません。投稿にご協力お願いします！🙇</p>
    <%= link_to "セットリストを投稿", new_event_setlist_path(params[:id]), class: 'btn btn-primary mb-5' %>
  <% end %>

  <%= render partial: "links/links", locals: { youtubes: @youtube_contents, tiktoks: @tiktok_contents } %>

  <%= render 'events/information_index', event_informations: @event_infomations %>
</div>