<div>
<% if @song_informations.any? %>
  <% @song_informations.each do |song_information| %>
    <div class="card bg-base-100 w-96 shadow-xl mb-5">
      <div class="card-body">
        <div class="avatar flex items-center">
          <div class="w-6 rounded-full mr-3">
            <img src="<%= song_information.user.image %>" />
          </div>
          <%= song_information.user.name %>
        </div>
        <h2 class="card-title"><%= song_information.body %></h2>
        <p>
          <%= song_information.created_at %>
        </p>
        <div>
          <% if song_information.liked_by?(current_user) %>
            <%= link_to song_information_likes_on_song_informations_path(song_information), method: :delete do %>
              <i class="fa-solid fa-heart"></i>
              <%= song_information.likes_on_song_informations.count %> いいね
            <% end %>
          <% else %>
            <%= link_to song_information_likes_on_song_informations_path(song_information), method: :post do %>
              <i class="fa-regular fa-heart"></i>
              <%= song_information.likes_on_song_informations.count %> いいね
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>投稿しましょう！</p>
<% end %>

</div>