<div class="m-5">
  <h1 class="text-center font-extrabold	text-2xl md:text-3xl mb-5 md:mb-10">
    <%= title @song.name %>
  </h1>

  <div class="divider mb-5 md:mb-8">
    <h2 class="font-bold sm:text-xl md:text-2xl">
      演奏記録
    </h2>
  </div>

  <div class="mb-5 md:mb-8">
    <% if @events.present? %>
      <p class="text-center md:text-lg mb-3">👏今まで計<%= @events.length %>回演奏されました👏</p>
      <div class="mb-2 md:mb-4 text-center md:grid md:grid-cols-2 md:gap-2 lg:mx-36">
        <div class="leading-8">
          <h3 class="md:text-xl">【ライブ初演奏🎉】</h3>
          <div class="my-5 flex items-center justify-center w-full h-60 md:h-80">
            <%= link_to event_path(@events.first), class: "w-60 md:w-80 h-full" do %>
              <turbo-frame id="visual_image_<%= @events.first.id %>" src="/visual_images/<%= @events.first.id %>" loading="lazy">
                <div class="skeleton w-full h-full flex items-center justify-center">
                  <span class="loading loading-spinner loading-xs mr-1"></span>
                  <p class="text-center">画像読み込み中...</p>
                </div>
              </turbo_frame>
            <% end %>
          </div>
          <p>
            <%= I18n.l(@events.first.date, format: "%Y/%m/%d（%a）") %><br>
            <%= link_to event_path(@events.first.id), class: "link link-primary" do %>
              <p>
                <%= @events.first.name %><br>
                @<%= @events.first.place %>（<%= @events.first.place_prefecture_i18n %>）
              </p>
            <% end %>
          </p>
        </div>
        <div class="leading-8">
          <h3 class="md:text-xl">【直近での演奏👻】</h3>
          <div class="my-5 flex items-center justify-center w-full h-60 md:h-80">
            <%= link_to event_path(@events.last), class: "w-60 md:w-80 h-full" do %>
              <turbo-frame id="visual_image_<%= @events.last.id %>" src="/visual_images/<%= @events.last.id %>" loading="lazy">
                <div class="skeleton w-full h-full flex items-center justify-center">
                  <span class="loading loading-spinner loading-xs mr-1"></span>
                  <p class="text-center">画像読み込み中...</p>
                </div>
              </turbo_frame>
            <% end %>
          </div>
          <p>
            <%= I18n.l(@events.last.date, format: "%Y/%m/%d（%a）") %><br>
            <%= link_to event_path(@events.last.id), class: "link link-primary" do %>
              <p>
                <%= @events.last.name %><br>
                @<%= @events.last.place %>（<%= @events.last.place_prefecture_i18n %>）
              </p>
            <% end %>
          </p>
        </div>
      </div>
    <% else %>
      <p class="text-center">ライブ演奏の情報は現時点ではありません🤥</p>
    <% end %>
    <p class="text-center mt-1">※登録されたセットリストをもとに算出しています。<br>セットリストの登録は、<br><%= link_to "イベントページ", events_path, class: "link link-primary" %>からお願いします！</p>
  </div>

  <div class="divider mb-3">
    <h1 class="font-bold sm:text-lg md:text-xl">
      収録情報
    </h1>
  </div>

  <div class="mb-5 mx-3 leading-8">
    <div>
      <p class="text-center lg:text-left my-3">【音源】</p>
      <% if @song_disc_items.present? %>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
          <% @song_disc_items.each do |disc_item| %>
            <div class="mx-3">
              <div class="h-24 md:h-28 md:h-32 w-full my-2 flex justify-center">
                <%= link_to disc_path(disc_item.disc_content.disc_version.disc), class: "w-24 h-full md:w-28 md:w-32" do %>
                  <turbo-frame id="jacket_<%= disc_item.disc_content.disc_version.id %>" src="/version_jacket/<%= disc_item.disc_content.disc_version.id %>" loading="lazy">
                    <div class="skeleton w-full h-full flex items-center justify-center">
                      <span class="loading loading-spinner loading-xs"></span>
                    </div>
                  </turbo_frame>
                <% end %>
              </div>
              <p class="text-xs text-center mb-2">
                <%= link_to disc_path(disc_item.disc_content.disc_version.disc_id), class: "link link-primary" do %>
                  <%= disc_item.show_disc_title %><br>
                  （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-center lg:text-left">収録情報はありません🤥</p>
      <% end %>
    </div>
    <div>
      <p class="text-center lg:text-left my-3">【映像】</p>
      <% if @movie_disc_items.present? %>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
          <% @movie_disc_items.each do |disc_item| %>
            <div class="mx-3">
              <div class="h-24 md:h-28 md:h-32 w-full my-2 flex justify-center">
                <%= link_to disc_path(disc_item.disc_content.disc_version.disc), class: "w-24 h-full md:w-28 md:w-32" do %>
                  <turbo-frame id="jacket_<%= disc_item.disc_content.disc_version.id %>" src="/version_jacket/<%= disc_item.disc_content.disc_version.id %>" loading="lazy">
                    <div class="skeleton w-full h-full flex items-center justify-center">
                      <span class="loading loading-spinner loading-xs"></span>
                    </div>
                  </turbo_frame>
                <% end %>
              </div>
              <p class="text-xs text-center mb-2">
                <%= link_to disc_path(disc_item.disc_content.disc_version.disc_id), class: "link link-primary" do %>
                  <%= disc_item.show_disc_title %><br>
                  （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）<br>
                <% end %>
                <% if disc_item.disc_content.event.present? %>
                  <%= disc_item.show_event_title %><br>
                  ＠<%= disc_item.show_event_place %>公演
                <% elsif disc_item.title.present? %>
                  <%= disc_item.show_disc_title %><br>
                  （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）<br>
                  <%= disc_item.title.truncate(20) %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-center lg:text-left">収録情報はありません🤥</p>
      <% end %>
    </div>
  </div>

  <%= render partial: "links/links", locals: { youtubes: @youtube_contents, tiktoks: @tiktok_contents } %>

  <div class="divider">楽曲情報</div>
  <%= render partial: "song_informations/form", locals: { info: @new_song_information, song: @song } %>
  <%= turbo_frame_tag 'song_informations' do %>
    <%= render partial: "song_informations/song_informations" %>
  <% end %>
</div>