<div class="m-3">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title @song.name %>
  </h1>

  <% if @song.youtube_link.present? %>
    <iframe
      src="https://www.youtube.com/embed/<%= find_youtube_url(@song.youtube_link) %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="w-full aspect-video mb-10">
    </iframe>
  <% end %>

  <div class="divider mb-3">
    <h1 class="font-bold sm:text-lg md:text-xl">
      演奏記録
    </h1>
  </div>

  <div class="mb-5 leading-8">
    <% if @events.present? %>
      <div class="mb-2">
        <p>【ライブ初演奏🎉】</p>
        <p>
          <%= I18n.l(@events.first.date, format: "%Y/%m/%d（%a）") %><br>
          <%= link_to event_path(@events.first.id), class: "link" do %>
            <p>
              <%= @events.first.name %><br>
              @<%= @events.first.place %>（<%= @events.first.place_prefecture_i18n %>）
            </p>
          <% end %>
        </p>
      </div>
      <div class="mb-2">
        <p>【直近での演奏👻】</p>
        <p>
          <%= I18n.l(@events.last.date, format: "%Y/%m/%d（%a）") %><br>
          <%= link_to event_path(@events.last.id), class: "link" do %>
            <p>
              <%= @events.last.name %><br>
              @<%= @events.last.place %>（<%= @events.last.place_prefecture_i18n %>）
            </p>
          <% end %>
        </p>
      </div>
      <p class="text-center">👏今まで計<%= @events.length %>回演奏されました👏</p>
    <% else %>
      <p class="text-center">ライブ演奏の情報は現時点ではありません🤥</p>
    <% end %>
  </div>

  <div class="divider mb-3">
    <h1 class="font-bold sm:text-lg md:text-xl">
      収録情報
    </h1>
  </div>

  <div class="mb-5 leading-8">
    <p class="text-left">音源</p>
    <% if @song_disc_items.present? %>
      <ul class="list-disc ml-5">
        <% @song_disc_items.each do |disc_item| %>
          <li class="text-left">
            <%= disc_item.show_song_title %>
            （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-left">収録情報はありません🤥</p>
    <% end %>
    <p class="text-left">映像</p>
    <% if @movie_disc_items.present? %>
      <ul class="list-disc ml-5">
        <% @movie_disc_items.each do |disc_item| %>
          <li class="text-left">
            <% if disc_item.disc_content.event.present? %>
              <%= disc_item.show_song_title %>
              （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）
              <%= disc_item.show_event_title %>
              ＠<%= disc_item.show_event_place %>公演
            <% end %>
            <% if disc_item.title.present? %>
              <%= disc_item.show_song_title %>
              （<%= t("activerecord.attributes.disc_version.#{disc_item.show_disc_version}") %>）
              <%= disc_item.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-left">収録情報はありません🤥</p>
    <% end %>
  </div>

  <div class="divider"></div>
  <%= render partial: "song_informations/form", locals: { info: @new_song_information, song: @song } %>
  <%= turbo_frame_tag 'song_informations' do %>
    <%= render partial: "song_informations/song_informations" %>
  <% end %>
</div>