<div class="m-3">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title @tour.name %>
  </h1>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>日程</th>
          <th>場所</th>
          <th></th>
          <th>備考</th>
        </tr>
      </thead>
      <% @tours.each do |event| %>
        <tbody class="<%= "bg-slate-400 text-black" if event.is_canceled? %>">
          <tr>
            <td>
              <%= I18n.l(event.date, format: "%Y/%m/%d(%a)") %>
            </td>
            <td>
              <p><%= event.place %>（<%= event.place_prefecture_i18n %>）<p>
            </td>
            <td>
              <p class="link link-primary"><%= link_to '詳細', (event_path(event)) %><p>
            </td>
            <td>
              <% if event.remark.present? %>
                ※<%= event.remark %>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <%= render partial: "links/links", locals: { youtubes: @youtube_contents, tiktoks: @tiktok_contents } %>

  <div class="divider"></div>
  <%= render partial: 'tour_informations/form', locals: {tour: @tour, new_info: @new_info} %>
  <%= turbo_frame_tag 'tour_informations' do %>
    <%= render partial: 'tour_informations/tour_informations', locals: {infos: @informations} %>
  <% end %>
</div>