<h1><%= @tour.name %></h1>

<h2>公演詳細</h2>

<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Place</th>
        <th></th>
        <th>Remark</th>
      </tr>
    </thead>
    <% @tours.each do |event| %>
      <tbody>
        <tr>
          <td><%= event.date %></td>
          <td>
            <p><%= event.place %>（<%= event.place_prefecture %>）<p>
          </td>
          <td>
            <p class="link link-primary"><%= link_to 'Show more', (event_path(event)) %><p>
          </td>
          <% if event.remark.present? %>
            <td>※<%= event.remark %></td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>