<div class="m-5">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title @disc.title %>
  </h1>

  <div class="mb-5">
    <div class="md:text-center">
      <% if @disc.announcement_date.present? %>
        <p>解禁日：<%= I18n.l(@disc.announcement_date, format: "%Y/%m/%d(%a)") %></p>
      <% end %>
      <% if @disc.release_date.present? %>
        <p>発売日：<%= I18n.l(@disc.release_date, format: "%Y/%m/%d(%a)") %></p>
      <% end %>
    </div>
  </div>

  <div>
    <div class="divider mb-5">
      <h1 class="font-bold sm:text-lg md:text-xl">
        収録内容
      </h1>
    </div>
    <div>
      <% if @disc_versions.present? %>
        <%= render partial: "versions", locals: {versions: @disc_versions} %>
      <% else %>
        <p>現時点で公開されている情報はありません</p>
      <% end %>
    </div>
  </div>

  <%= render partial: "links/links", locals: { youtubes: @youtube_contents, tiktoks: @tiktok_contents } %>

  <div>
    <div class="divider mb-5">
      <h1 class="font-bold sm:text-lg md:text-xl">
        ディスク情報
      </h1>
    </div>
    <div>
    <%= render partial: "informations/form", locals: { reportable: @disc, new_info: @new_info, form_url: @form_url } %>
  </div>

  <%= render partial: "informations/informations", locals: { infos: @infos } %>

  <div class="mb-5 leading-8">
  </div>
</div>