<div>
  <li class="text-lg md:text-xl lg:text-2xl md:mb-3">
    <%= instrument.name %>
  </li>
  <div class="ml-5">
    <% instrument.gears.each do |gear| %>
      <div class="">
        ・<%= gear.name %>
        <div class="my-3 h-32 w-32 md:h-48 md:w-48 lg:h-64 lg:w-64">
          <turbo-frame id="gear_image_<%= gear.id %>" src="/gear/<%= gear.id %>/image" loading="lazy">
            <div class="skeleton text-xs w-full h-full flex items-center justify-center">
              <span class="loading loading-spinner loading-xs mr-1"></span>
              <p class="text-center">画像読み込み中...</p>
            </div>
          </turbo-frame>
        </div>
        <% if gear.remark.present? %>
          <p class="ml-5">
          （<%= gear.remark %>）
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
