<!DOCTYPE html>
<html data-theme="aqua">
  <head>
    <%= display_meta_tags site: "ぴぽの掲示板" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes,viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <%= favicon_link_tag('mini_favicon.ico') %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="favicon.ico">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/03ee00071c.js" crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8B9TG5XL6F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8B9TG5XL6F');
    </script>
  </head>

  <body style="font-family: 'DotGothic16', serif; font-weight: 400; font-style: normal;">
    <% if user_signed_in? %>
      <%= render "shared/after_login_header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <main class="mb-20">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
    <% if user_signed_in? %>
      <%= render "shared/after_login_footer" %>
    <% else %>
      <%= render "shared/before_login_footer" %>
    <% end %>
  </body>
</html>
